[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
pandas = "*"
requests = "*"
splinter = "*"
selenium = "*"
lxml = "*"
html5lib = "*"
flask = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
